@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}
* {
  font-size: 15px;
  font-family: "Inter";
}
.container {
  max-width: 70vw;
  margin: 0px auto;
}
a {
  text-decoration: none;
}
.darkFilter::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000000;
  opacity: 0.7;
  display: none;
}

/* nav menu */
header .container {
  display: flex;
  padding: 50px 0px;
  justify-content: space-between;
  align-items: center;
}
.navigation_list {
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0px;
}
.navigation_list_item {
  margin-left: 40px;
  color: var(--dark-grayish-blue);
  font-weight: 400;
}
.navigation_list_item a {
  color: var(--dark-grayish-blue);
}
.navigation_list_item a:hover {
  cursor: pointer;
  color: var(--soft-red);
}
.navigation_mobile div {
  width: 50px;
  height: 5px;
  background: var(--very-dark-blue);
  margin: 5px;
  transition: all 0.3s ease;
}
.navigation_mobile {
  display: none;
}

/* main content */
main .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: min-content;
  gap: 30px;
}

/* section 1 */
.s1 {
  display: grid;
  grid-template: min-content min-content / 1fr 1fr;
  row-gap: 30px;
  column-gap: 40px;
}
.s1 img {
  grid-column: 1 / -1;
  width: 100%;
  object-fit: cover;
}
.s1 h2 {
  margin: 0px;
  grid-row: 2 / -1;
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 3rem;
}
.s1 p {
  margin: 0px 0px 30px 0px;
  font-size: 0.8rem;
  color: var(--dark-grayish-blue);
  line-height: 1.6rem;
}
.s1 .btn {
  width: fit-content;
  padding: 10px 20px;
  background-color: var(--soft-red);
}
.s1 .btn:hover {
  background-color: var(--very-dark-blue);
  cursor: pointer;
}
.s1 .btn span {
  color: var(--off-white);
  font-size: 0.8rem;
  letter-spacing: 0.4em;
  font-weight: 700;
}

/* section 2 */
.s2 {
  padding: 20px 20px 0px 20px;
  background-color: var(--very-dark-blue);
  color: var(--off-white);
}
.s2 h2 {
  color: var(--soft-orange);
  font-size: 2.2rem;
  margin: 0px;
}
.s2 article a {
  color: var(--off-white);
}
.s2 article a:hover {
  cursor: pointer;
  color: var(--soft-orange);
}
.s2 article {
  border-bottom: solid 1px var(--dark-grayish-blue);
  padding: 10px 0px;
}
.s2 article:last-child {
  border-bottom: none;
}
.s2 article p {
  font-size: 0.8rem;
  color: var(--grayish-blue);
  line-height: 1.4rem;
}

/* section 3 */
.s3 {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;
  gap: 30px;
}
.s3 article {
  display: flex;
  gap: 20px;
}
.s3 article img {
  height: 100%;
  object-fit: cover;
}
.s3 .content h2 {
  margin: 0px;
  font-size: 1.5rem;
  color: var(--grayish-blue);
}
.s3 .content h3 {
  margin: 10px 0px;
  font-weight: 800;
}
.s3 .content a {
  color: var(--very-dark-blue);
}
.s3 .content a:hover {
  cursor: pointer;
  color: var(--soft-red);
}
.s3 .content p {
  margin: 0px;
  font-size: 0.7rem;
  color: var(--dark-grayish-blue);
  line-height: 1.3rem;
}

/* mobile view */
@media screen and (max-width: 650px) {
  .container {
    max-width: 90vw;
    margin: 0px auto;
  }
  .darkFilter.toggle::before {
    display: unset;
  }

  /* mobile nav menu */
  .navigation_mobile {
    display: block;
    cursor: pointer;
    transition: all 0.7s ease;
    z-index: 3;
  }
  .navigation_mobile.toggle {
    position: fixed;
    left: 84%;
  }
  .navigation_mobile.toggle .bars1 {
    transform: rotate(-45deg) translate(-4px, 9px);
  }
  .navigation_mobile.toggle .bars2 {
    transition: all 0s ease;
    width: 0;
  }
  .navigation_mobile.toggle .bars3 {
    transform: rotate(45deg) translate(-5px, -10px);
  }
  .navigation_list {
    display: none;
  }
  .navigation_list.open {
    display: flex;
    background: var(--off-white);
    position: fixed;
    top: 0%;
    left: 30%;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
  }
  .navigation_list_item {
    margin: 0px 0px 30px 20px;
  }
  .navigation_list_item a {
    color: var(--very-dark-blue);
  }

  /* main content */
  main .container {
    display: flex;
    flex-direction: column;
  }
  .s1 {
    display: flex;
    flex-direction: column;
  }
  .s3 {
    display: flex;
    flex-direction: column;
  }
  .s3 article {
    gap: 30px;
  }
  .s3 article img {
    max-height: 100px;
  }
  .s3 .content p {
    font-size: 1rem;
    line-height: 1.3rem;
  }
}

/* footer */
footer {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 11px;
  text-align: center;
}
footer a {
  color: hsl(228, 45%, 44%);
}
